<a href="https://colab.research.google.com/github/annabelleshea/yelp_final/blob/main/Cleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
pip install dask[dataframe]

Requirement already satisfied: dask[dataframe] in /usr/local/lib/python3.10/dist-packages (2024.10.0)
Requirement already satisfied: click>=8.1 in /usr/local/lib/python3.10/dist-packages (from dask[dataframe]) (8.1.7)
Requirement already satisfied: cloudpickle>=3.0.0 in /usr/local/lib/python3.10/dist-packages (from dask[dataframe]) (3.1.0)
Requirement already satisfied: fsspec>=2021.09.0 in /usr/local/lib/python3.10/dist-packages (from dask[dataframe]) (2024.10.0)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.10/dist-packages (from dask[dataframe]) (24.2)
Requirement already satisfied: partd>=1.4.0 in /usr/local/lib/python3.10/dist-packages (from dask[dataframe]) (1.4.2)
Requirement already satisfied: pyyaml>=5.3.1 in /usr/local/lib/python3.10/dist-packages (from dask[dataframe]) (6.0.2)
Requirement already satisfied: toolz>=0.10.0 in /usr/local/lib/python3.10/dist-packages (from dask[dataframe]) (0.12.1)
Requirement already satisfied: importlib-metadata>=4.13.0 in /usr/local/lib/python3.10/dist-packages (from dask[dataframe]) (8.5.0)
Requirement already satisfied: pandas>=2.0 in /usr/local/lib/python3.10/dist-packages (from dask[dataframe]) (2.2.2)
Collecting dask-expr<1.2,>=1.1 (from dask[dataframe])
  Downloading dask_expr-1.1.20-py3-none-any.whl.metadata (2.6 kB)
INFO: pip is looking at multiple versions of dask-expr to determine which version is compatible with other requirements. This could take a while.
  Downloading dask_expr-1.1.19-py3-none-any.whl.metadata (2.6 kB)
  Downloading dask_expr-1.1.18-py3-none-any.whl.metadata (2.6 kB)
  Downloading dask_expr-1.1.16-py3-none-any.whl.metadata (2.5 kB)
Requirement already satisfied: pyarrow>=14.0.1 in /usr/local/lib/python3.10/dist-packages (from dask-expr<1.2,>=1.1->dask[dataframe]) (17.0.0)
Requirement already satisfied: zipp>=3.20 in /usr/local/lib/python3.10/dist-packages (from importlib-metadata>=4.13.0->dask[dataframe]) (3.21.0)
Requirement already satisfied: numpy>=1.22.4 in /usr/local/lib/python3.10/dist-packages (from pandas>=2.0->dask[dataframe]) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas>=2.0->dask[dataframe]) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=2.0->dask[dataframe]) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.10/dist-packages (from pandas>=2.0->dask[dataframe]) (2024.2)
Requirement already satisfied: locket in /usr/local/lib/python3.10/dist-packages (from partd>=1.4.0->dask[dataframe]) (1.0.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas>=2.0->dask[dataframe]) (1.16.0)
Downloading dask_expr-1.1.16-py3-none-any.whl (243 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 243.2/243.2 kB 4.4 MB/s eta 0:00:00
Installing collected packages: dask-expr
Successfully installed dask-expr-1.1.16

In [ ]:
import pandas as pd
import dask.dataframe as dd
import ast  # For safely evaluating dictionary-like strings

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
data = pd.read_csv('/content/drive/MyDrive/MGSC 410 Final Project/restaurants.csv')

In [ ]:
data.head()

,user_id,business_id,rating,date,text,review_count_x,yelping_since,fans,average_stars,city,...,RestaurantsAttire_u'dressy',RestaurantsAttire_u'formal',Alcohol_'beer_and_wine',Alcohol_'full_bar',Alcohol_'none',Alcohol_none,Alcohol_u'beer_and_wine',Alcohol_u'full_bar',Alcohol_u'none',sentiment_score
0,4Uh27DgGzsp6PqrH913giQ,otQS34_MymijPTdNBoBdCw,4.0,2011-10-27 17:12:05,The bun makes the Sonoran Dog. It's like a snu...,50,2009-09-29 22:24:04,2,4.27,Tucson,...,False,False,False,True,False,False,False,False,False,0.9764
1,WBpQDAZymU0dhIqXcACGNw,ut6fi2W2YaipNOqvi7e0jw,3.0,2014-11-12 14:12:20,"Upland is a brewery based out of Bloomington, ...",117,2012-11-05 19:15:16,2,3.17,Carmel,...,False,False,True,False,False,False,False,False,False,0.9633
2,Jha0USGDMefGFRLik_xFQg,bMratNjTG5ZFEA6hVyr-xQ,5.0,2017-02-19 13:32:05,First time there and it was excellent!!! It fe...,116,2016-09-17 17:19:31,1,4.47,Eddystone,...,False,False,False,False,False,False,False,False,True,0.9410
3,yobeeTUBfaTBcnk26mXNuA,hKameFsaXh9g8WQbv593UA,4.0,2015-04-15 15:30:48,Food was good- atmosphere/decor is like a fish...,30,2013-05-06 02:52:17,2,4.30,Lutz,...,False,False,False,False,False,False,False,True,False,0.8625
4,G0DHgkSsDozqUPWtlxVEMw,oBhJuukGRqPVvYBfTkhuZA,4.0,2015-03-05 03:37:54,The only reason I didn't give this restaurant ...,68,2010-10-27 20:57:03,2,3.25,Philadelphia,...,False,False,False,False,False,False,False,True,False,0.9305

In [ ]:
# See how many rows of data we started with
print(len(data))

698059

In [ ]:
# Drop irrelevant columns in place
data.drop(columns=['ByAppointmentOnly', 'BikeParking', 'CoatCheck', 'Caters', 'WiFi',
                   'WheelchairAccessible', 'HappyHour', 'DogsAllowed', 'BusinessAcceptsBitcoin',
                   'Smoking', 'Music', 'GoodForDancing', 'AcceptsInsurance', 'BestNights',
                   'DietaryRestrictions', 'BYOBCorkage', 'HairSpecializesIn', 'AgesAllowed'], inplace=True)

In [ ]:
# Drop rows with missing values
data = data.dropna(subset=['NoiseLevel', 'BusinessParking',
                           'Monday', 'Tuesday', 'Wednesday', 'Thursday',
                           'Friday', 'Saturday', 'Sunday'])

In [ ]:
# List of columns to impute with False
columns_to_impute = [
    'RestaurantsDelivery',
    'OutdoorSeating',
    'RestaurantsTableService',
    'DriveThru',
    'BYOB',
    'Corkage',
    'Open24Hours',
    'RestaurantsCounterService',
    'RestaurantsTakeOut',
    'HasTV',
    'GoodForKids',
    'RestaurantsReservations',
    'RestaurantsGoodForGroups'
]

# Impute missing values with False
data[columns_to_impute] = data[columns_to_impute].fillna(False)

<ipython-input-8-e61ac42714af>:19: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  data[columns_to_impute] = data[columns_to_impute].fillna(False)

                       user_id             business_id  rating  \
1       4Uh27DgGzsp6PqrH913giQ  otQS34_MymijPTdNBoBdCw     4.0
2       WBpQDAZymU0dhIqXcACGNw  ut6fi2W2YaipNOqvi7e0jw     3.0
5       Jha0USGDMefGFRLik_xFQg  bMratNjTG5ZFEA6hVyr-xQ     5.0
7       yobeeTUBfaTBcnk26mXNuA  hKameFsaXh9g8WQbv593UA     4.0
8       G0DHgkSsDozqUPWtlxVEMw  oBhJuukGRqPVvYBfTkhuZA     4.0
...                        ...                     ...     ...
698053  fLTm9wRlUBEMqg0puABOTQ  8Sv9ohuIAWbElDj-empIsA     4.0
698055  UfevNSM_H14XXWZFlHYPoA  TNtcjnta11CpDebuBNdoug     2.0
698056  QYZM8lgZn2HL_OWYAn7E1A  nrXtCSdfWg0TJ86onEZWkg     4.0
698057  x1QLCwZGFAjxRRw4EHc3-g  1_BVWDzi5cVqWxNe9bOMMQ     5.0
698058  YwAMC-jvZ1fvEUum6QkEkw  Rr9kKArrMhSLVE9a53q-aA     5.0

                       date  \
1       2011-10-27 17:12:05
2       2014-11-12 14:12:20
5       2017-02-19 13:32:05
7       2015-04-15 15:30:48
8       2015-03-05 03:37:54
...                     ...
698053  2011-05-01 02:12:35
698055  2017-10-22 20:55:12
698056  2018-02-13 19:50:01
698057  2016-04-30 01:02:34
698058  2022-01-19 18:59:27

                                                     text  review_count_x  \
1       The bun makes the Sonoran Dog. It's like a snu...              50
2       Upland is a brewery based out of Bloomington, ...             117
5       First time there and it was excellent!!! It fe...             116
7       Food was good- atmosphere/decor is like a fish...              30
8       The only reason I didn't give this restaurant ...              68
...                                                   ...             ...
698053  On the recommendation of a friend who knew I l...             138
698055  Our waiter was good but a bit rushed. I didn't...              54
698056  Took a colleague here for dinner as we were tr...             413
698057  Don't misinterpret my 5-star review....I don't...             728
698058  For when I'm feeling like ignoring my calorie-...             281

              yelping_since  fans  average_stars          city  ... Corkage  \
1       2009-09-29 22:24:04     2           4.27        Tucson  ...   False
2       2012-11-05 19:15:16     2           3.17        Carmel  ...   False
5       2016-09-17 17:19:31     1           4.47     Eddystone  ...   False
7       2013-05-06 02:52:17     2           4.30          Lutz  ...   False
8       2010-10-27 20:57:03     2           3.25  Philadelphia  ...    True
...                     ...   ...            ...           ...  ...     ...
698053  2008-11-27 05:06:34    14           4.08   Garden City  ...   False
698055  2013-09-18 21:59:28     0           3.33        Fenton  ...   False
698056  2010-09-18 00:50:28    20           3.71   New Orleans  ...   False
698057  2011-05-11 01:22:53    34           4.37      St.Louis  ...   False
698058  2008-09-10 21:03:38    23           4.14  Indianapolis  ...   False

        Open24Hours  RestaurantsCounterService      Monday     Tuesday  \
1             False                      False     0:0-0:0   10:0-21:0
2             False                      False     0:0-0:0   11:0-22:0
5             False                      False  16:30-21:0  16:30-21:0
7             False                      False  11:30-21:0  11:30-21:0
8             False                      False     0:0-0:0   17:0-22:0
...             ...                        ...         ...         ...
698053        False                      False     0:0-0:0   11:0-21:0
698055        False                      False   11:0-21:0   11:0-21:0
698056        False                      False   11:0-22:0   11:0-22:0
698057        False                      False    10:0-1:0    10:0-1:0
698058        False                      False     0:0-0:0   11:0-21:0

         Wednesday    Thursday      Friday    Saturday      Sunday
1        10:0-21:0   10:0-22:0   10:0-15:0   10:0-23:0   10:0-21:0
2        11:0-22:0   11:0-22:0    11:0-0:0    11:0-0:0   11:0-22:0
5       16:30-21:0  16:30-21:0  16:30-22:0  16:30-22:0  16:30-21:0
7       11:30-21:0  11:30-21:0  11:30-22:0  11:30-22:0  11:30-21:0
8        17:0-22:0   17:0-22:0   17:0-22:0   17:0-22:0    9:0-14:0
...            ...         ...         ...         ...         ...
698053   11:0-21:0   11:0-21:0   11:0-22:0   11:0-22:0   12:0-20:0
698055   11:0-21:0   11:0-21:0   11:0-21:0   11:0-21:0   11:0-21:0
698056   11:0-22:0   11:0-22:0   11:0-22:0   11:0-22:0   11:0-22:0
698057    10:0-1:0    10:0-1:0    10:0-1:0    10:0-1:0    10:0-1:0
698058   11:0-21:0   11:0-21:0   11:0-20:0   12:0-20:0   12:0-20:0

[408732 rows x 45 columns]

In [ ]:
# # Set to display all rows
# pd.set_option('display.max_rows', None)


# # Reset to default after viewing if desired
# pd.reset_option('display.max_rows')

In [ ]:
# Count the number of NaN values for each column
nan_counts = data.isna().sum()

# Display the count of NaN values
print("Number of NaN values in each column:")
print(nan_counts)

Number of NaN values in each column:
user_id                       0
business_id                   0
rating                        0
date                          0
text                          0
review_count_x                0
yelping_since                 0
fans                          0
average_stars                 0
city                          0
state                         0
latitude                      0
longitude                     0
stars                         0
restaurant_review_count       0
is_open                       0
categories                    0
BusinessAcceptsCreditCards    0
RestaurantsPriceRange2        0
RestaurantsTakeOut            0
RestaurantsDelivery           0
BusinessParking               0
OutdoorSeating                0
HasTV                         0
RestaurantsReservations       0
GoodForKids                   0
RestaurantsTableService       0
RestaurantsGoodForGroups      0
DriveThru                     0
NoiseLevel                    0
BYOB                          0
Corkage                       0
Open24Hours                   0
RestaurantsCounterService     0
Monday                        0
Tuesday                       0
Wednesday                     0
Thursday                      0
Friday                        0
Saturday                      0
Sunday                        0
Alcohol_beer_and_wine         0
Alcohol_full_bar              0
Alcohol_nan                   0
Alcohol_none                  0
RestaurantsAttire_casual      0
RestaurantsAttire_dressy      0
RestaurantsAttire_formal      0
RestaurantsAttire_nan         0
touristy                      0
hipster                       0
romantic                      0
divey                         0
intimate                      0
trendy                        0
upscale                       0
classy                        0
casual                        0
dessert                       0
latenight                     0
lunch                         0
dinner                        0
brunch                        0
breakfast                     0
dtype: int64

In [ ]:
# Drop rows with missing values
data = data.dropna(subset=['BusinessAcceptsCreditCards', 'RestaurantsPriceRange2'])

In [ ]:
# See how many rows of data are left after cleaning
print(len(data))

401194

In [ ]:
# Rename the restaurant review column for clarity
data = data.rename(columns={"review_count_y": "restaurant_review_count"})

## Feature Engineering

In [ ]:
# CREATING DUMMIES FOR ALCOHOL
# Step 1: Remove the 'u' prefix and standardize values in the 'Alcohol' column
data['Alcohol'] = data['Alcohol'].astype(str).str.replace("u'", "").str.replace("'", "").str.lower().str.strip()

# Step 2: Impute missing values with 'none'
data['Alcohol'] = data['Alcohol'].fillna('none')

# # Step 3: Impute missing values (NaN) with 'none'
# data['Alcohol'] = data['Alcohol'].replace('nan', 'none').fillna('none')

# Step 4: Create dummy variables for 'full_bar', 'beer_and_wine', and 'none'
alcohol_dummies = pd.get_dummies(data['Alcohol'], prefix='Alcohol', drop_first=False)

# Step 5: Merge the dummy variables back into the original DataFrame
data = pd.concat([data, alcohol_dummies], axis=1)

# Step 6: Drop the original 'Alcohol' column if no longer needed
data.drop(columns=['Alcohol'], inplace=True)

In [ ]:
# CREATING DUMMIES FOR RESTAURANT ATTIRE
# Step 1: Standardize values in the 'RestaurantsAttire' column
data['RestaurantsAttire'] = data['RestaurantsAttire'].astype(str).str.replace("u'", "").str.replace("'", "").str.lower().str.strip()

# Step 2: Replace non-standard values with NaN (if needed, ensure only 'casual', 'dressy', 'formal', or NaN remain)
valid_attires = {'casual', 'dressy', 'formal'}
data['RestaurantsAttire'] = data['RestaurantsAttire'].apply(lambda x: x if x in valid_attires else 'nan')

# Step 3: Create dummy variables for 'casual', 'dressy', 'formal', and 'nan'
attire_dummies = pd.get_dummies(data['RestaurantsAttire'], prefix='RestaurantsAttire', drop_first=False)

# Step 4: Merge the dummy variables back into the original DataFrame
data = pd.concat([data, attire_dummies], axis=1)

# Step 5: Drop the original 'RestaurantsAttire' column if no longer needed
data.drop(columns=['RestaurantsAttire'], inplace=True)

In [ ]:
# CREATING DUMMIES FOR AMBIENCE
# Step 1: Parse the Ambience column safely and ensure it's a dictionary (convert string to dict safely)
data['Ambience'] = data['Ambience'].apply(lambda x: ast.literal_eval(x) if isinstance(x, str) else x or {})

# Step 2: Ensure only None values are converted to False in the dictionary values
ambience_categories = ['touristy', 'hipster', 'romantic', 'divey', 'intimate', 'trendy', 'upscale', 'classy', 'casual']
for key in ambience_categories:
    data['Ambience'] = data['Ambience'].apply(lambda x: {k: (False if v is None else v) for k, v in x.items()} if isinstance(x, dict) else x)

# Step 3: Create dummy variables (True/False columns) for each category
for category in ambience_categories:
    data[category] = data['Ambience'].apply(lambda x: x.get(category, False) if isinstance(x, dict) else False)

# Step 4: Drop the original Ambience column if no longer needed
data.drop(columns=['Ambience'], inplace=True)

In [ ]:
# CREATING DUMMIES FOR GOOD FOR MEAL
# Step 1: Parse the GoodForMeal column safely and ensure it's a dictionary (convert string to dict safely)
data['GoodForMeal'] = data['GoodForMeal'].apply(lambda x: ast.literal_eval(x) if isinstance(x, str) else x or {})

# Step 2: Ensure only None values are converted to False in the dictionary values
meal_categories = ['dessert', 'latenight', 'lunch', 'dinner', 'brunch', 'breakfast']
for key in meal_categories:
    data['GoodForMeal'] = data['GoodForMeal'].apply(lambda x: {k: (False if v is None else v) for k, v in x.items()} if isinstance(x, dict) else x)

# Step 3: Create dummy variables (True/False columns) for each category
for category in meal_categories:
    data[category] = data['GoodForMeal'].apply(lambda x: x.get(category, False) if isinstance(x, dict) else False)

# Step 4: Drop the original GoodForMeal column if no longer needed
data.drop(columns=['GoodForMeal'], inplace=True)

In [ ]:
# CREATE DUMMY VARIABLES FOR BUSINESS PARKING
# Step 1: Parse the `BusinessParking` column safely
data['BusinessParking'] = data['BusinessParking'].apply(lambda x: ast.literal_eval(x) if isinstance(x, str) else x or {})

# Step 2: Ensure `None` values are converted to `False` in the dictionary
parking_categories = ['garage', 'street', 'validated', 'lot', 'valet']
for key in parking_categories:
    data['BusinessParking'] = data['BusinessParking'].apply(lambda x: {k: (False if v is None else v) for k, v in x.items()} if isinstance(x, dict) else x)

# Step 3: Create dummy variables (True/False columns) for each parking category
for category in parking_categories:
    data[f'Parking_{category}'] = data['BusinessParking'].apply(lambda x: x.get(category, False) if isinstance(x, dict) else False)

# Step 4: Drop the original `BusinessParking` column if no longer needed
data.drop(columns=['BusinessParking'], inplace=True)

In [ ]:
# Feature Engineering: Average Rating Per User in the Same Restaurant Category
data['categories'] = data['categories'].fillna("").apply(lambda x: x.split(', '))
exploded_data = data.explode('categories')

In [ ]:
# Filter only "Restaurants/Food" category
restaurant_food_data = exploded_data[
    exploded_data['categories'].str.lower().isin(['restaurants', 'food'])
]

                  user_id             business_id  rating  \
0  4Uh27DgGzsp6PqrH913giQ  otQS34_MymijPTdNBoBdCw     4.0
1  WBpQDAZymU0dhIqXcACGNw  ut6fi2W2YaipNOqvi7e0jw     3.0
1  WBpQDAZymU0dhIqXcACGNw  ut6fi2W2YaipNOqvi7e0jw     3.0
2  Jha0USGDMefGFRLik_xFQg  bMratNjTG5ZFEA6hVyr-xQ     5.0
3  yobeeTUBfaTBcnk26mXNuA  hKameFsaXh9g8WQbv593UA     4.0

                  date                                               text  \
0  2011-10-27 17:12:05  The bun makes the Sonoran Dog. It's like a snu...
1  2014-11-12 14:12:20  Upland is a brewery based out of Bloomington, ...
1  2014-11-12 14:12:20  Upland is a brewery based out of Bloomington, ...
2  2017-02-19 13:32:05  First time there and it was excellent!!! It fe...
3  2015-04-15 15:30:48  Food was good- atmosphere/decor is like a fish...

   review_count_x        yelping_since  fans  average_stars       city state  \
0              50  2009-09-29 22:24:04     2           4.27     Tucson    AZ
1             117  2012-11-05 19:15:16     2           3.17     Carmel    IN
1             117  2012-11-05 19:15:16     2           3.17     Carmel    IN
2             116  2016-09-17 17:19:31     1           4.47  Eddystone    PA
3              30  2013-05-06 02:52:17     2           4.30       Lutz    FL

    latitude   longitude  stars  restaurant_review_count  is_open  \
0  32.255834 -110.960560    4.0                      492        1
1  39.956925  -86.142974    4.0                      244        1
1  39.956925  -86.142974    4.0                      244        1
2  39.865032  -75.344051    4.0                      137        1
3  28.190021  -82.540430    3.5                       86        0

    categories  BusinessAcceptsCreditCards  RestaurantsPriceRange2  \
0  Restaurants                        True                     2.0
1         Food                        True                     2.0
1  Restaurants                        True                     2.0
2  Restaurants                        True                     2.0
3  Restaurants                        True                     2.0

   RestaurantsTakeOut  RestaurantsDelivery  \
0                True                 True
1                True                 True
1                True                 True
2                True                 True
3                True                False

                                     BusinessParking  OutdoorSeating  HasTV  \
0  {'garage': False, 'street': False, 'validated'...            True   True
1  {'garage': False, 'street': False, 'validated'...            True   True
1  {'garage': False, 'street': False, 'validated'...            True   True
2  {'garage': False, 'street': False, 'validated'...            True   True
3  {'garage': False, 'street': False, 'validated'...           False   True

   RestaurantsReservations  GoodForKids  RestaurantsTableService  \
0                    False         True                    False
1                     True         True                     True
1                     True         True                     True
2                     True         True                     True
3                     True         True                    False

   RestaurantsGoodForGroups  DriveThru  NoiseLevel   BYOB  Corkage  \
0                      True       True  u'average'  False    False
1                      True      False  u'average'  False    False
1                      True      False  u'average'  False    False
2                      True      False    u'quiet'   True    False
3                      True      False  u'average'  False    False

   Open24Hours  RestaurantsCounterService      Monday     Tuesday   Wednesday  \
0        False                      False     0:0-0:0   10:0-21:0   10:0-21:0
1        False                      False     0:0-0:0   11:0-22:0   11:0-22:0
1        False                      False     0:0-0:0   11:0-22:0   11:0-22:0
2        False                      False  16:30-21:0  16:30-21:0  16:30-21:0
3        False                      False  11:30-21:0  11:30-21:0  11:30-21:0

     Thursday      Friday    Saturday      Sunday  RestaurantsAttire_nan  \
0   10:0-22:0   10:0-15:0   10:0-23:0   10:0-21:0                  False
1   11:0-22:0    11:0-0:0    11:0-0:0   11:0-22:0                  False
1   11:0-22:0    11:0-0:0    11:0-0:0   11:0-22:0                  False
2  16:30-21:0  16:30-22:0  16:30-22:0  16:30-21:0                  False
3  11:30-21:0  11:30-22:0  11:30-22:0  11:30-21:0                  False

   Alcohol_none  sentiment_score  Alcohol_full_bar  Alcohol_beer_and_wine  \
0         False           0.9764              True                  False
1         False           0.9633             False                   True
1         False           0.9633             False                   True
2          True           0.9410             False                  False
3         False           0.8625              True                  False

   RestaurantsAttire_casual  RestaurantsAttire_dressy  \
0                      True                     False
1                      True                     False
1                      True                     False
2                      True                     False
3                      True                     False

   RestaurantsAttire_formal  touristy  hipster  romantic  divey  intimate  \
0                     False     False    False     False  False     False
1                     False     False    False     False  False     False
1                     False     False    False     False  False     False
2                     False     False    False     False  False      True
3                     False     False    False     False  False     False

   trendy  upscale  classy  casual  dessert  latenight  lunch  dinner  brunch  \
0   False    False   False    True    False      False   True    True   False
1   False    False   False    True    False      False  False    True   False
1   False    False   False    True    False      False  False    True   False
2   False    False   False    True    False      False  False    True   False
3   False    False   False    True    False      False  False   False   False

   breakfast
0      False
1      False
1      False
2      False
3      False

In [ ]:
# Step 1: Calculate user average category rating
user_avg_category_rating = (
    restaurant_food_data.groupby('user_id')['stars']
    .mean()
    .reset_index()
    .rename(columns={'stars': 'user_AvgRestaurantCat_rating'})
)

# Step 2: Merge back to the original data DataFrame
data = data.merge(
    data,
    user_avg_category_rating,
    on='user_id',  # Match by user_id
    how='left'     # Preserve all rows in the original data
)

# Step 3: Fill any missing values (if a user_id has no rating in "Restaurants" or "Food")
data['user_AvgRestaurantCat_rating'] = data['user_AvgRestaurantCat_rating'].fillna(0)

# Check the resulting DataFrame
print(data[['user_id', 'user_AvgRestaurantCat_rating']].head())

                  user_id  user_AvgRestaurantCat_rating
0  4Uh27DgGzsp6PqrH913giQ                      3.964286
1  WBpQDAZymU0dhIqXcACGNw                      3.615385
2  Jha0USGDMefGFRLik_xFQg                      3.307692
3  yobeeTUBfaTBcnk26mXNuA                      3.595238
4  G0DHgkSsDozqUPWtlxVEMw                      3.833333

In [ ]:
# Convert the 'categories' column back to comma-separated strings
data['categories'] = data['categories'].apply(lambda x: ', '.join(x) if isinstance(x, list) else x)
user_avg_category_rating['categories'] = user_avg_category_rating['categories'].apply(lambda x: ', '.join(x) if isinstance(x, list) else x)

In [ ]:
# Calculate variance of user's ratings
user_rating_variance = (
    data.groupby('user_id')['stars']
    .var()
    .reset_index()
    .rename(columns={'stars': 'user_rating_variance'})
)

# Merge the variance back into the main DataFrame on user_id
data = data.merge(user_rating_variance, on='user_id', how='left')

In [ ]:
# Assuming the column name for the date is 'review_date'
data['date'] = pd.to_datetime(data['date'], errors='coerce')

def categorize_time_of_day(hour):
    if 5 <= hour < 12:
        return 'morning'
    elif 12 <= hour < 17:
        return 'afternoon'
    elif 17 <= hour < 21:
        return 'evening'
    else:
        return 'night'

data['hour_of_day'] = data['date'].dt.hour
data['time_of_day'] = data['hour_of_day'].apply(categorize_time_of_day)

data['day_of_week'] = data['date'].dt.day_name()
data['is_weekend'] = data['day_of_week'].isin(['Saturday', 'Sunday'])

In [ ]:
# List of the 15 best food cities
best_food_cities = [
    "New Orleans", "New York City", "Chicago", "Los Angeles", "San Francisco",
    "Philadelphia", "Las Vegas", "Houston", "Portland Maine", "Austin",
    "Honolulu Oahu", "Boston", "Denver", "Atlanta", "Louisville"
]

# Step 1: Standardize city names in the dataset
data['city'] = data['city'].str.strip().str.title()

# Step 2: Create a new column indicating if the city is in the list of best food cities
data['is_in_best_food_city'] = data['city'].isin(best_food_cities)

In [ ]:
# Install VADER (if not installed already)
!pip install vaderSentiment

import pandas as pd
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer

# Initialize Sentiment Analyzer
analyzer = SentimentIntensityAnalyzer()

In [ ]:
# Sentiment Analysis using VADER
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer
analyzer = SentimentIntensityAnalyzer()

In [ ]:
# Sample sentiment on review texts
def analyze_sentiment(text):
    if pd.isnull(text) or text.strip() == "":
        return 0  # Neutral sentiment for missing or empty reviews
    score = analyzer.polarity_scores(text)
    return score['compound']

In [ ]:
# Apply sentiment scoring
data['sentiment_score'] = data['text'].apply(analyze_sentiment)
print(f"Sentiment scores added to the dataset.")

In [ ]:
# Export the DataFrame to a CSV file
data.to_csv('cleaned_data.csv', index=False)

In [ ]:
# # Step 1: Combine redundant dummy columns for each attire category
# data['RestaurantsAttire_casual'] = data['RestaurantsAttire_\'casual\''] | data['RestaurantsAttire_u\'casual\'']
# data['RestaurantsAttire_dressy'] = data['RestaurantsAttire_\'dressy\''] | data['RestaurantsAttire_u\'dressy\'']
# data['RestaurantsAttire_formal'] = data['RestaurantsAttire_\'formal\''] | data['RestaurantsAttire_u\'formal\'']

# # Step 2: Handle the 'nan' category if necessary (drop it or include as None)
# # Option 1: Ignore 'nan' and focus on existing categories (comment if you don't want this step)
# # data.drop(columns=['RestaurantsAttire_nan'], inplace=True)

# # Option 2: Include 'nan' as an explicit column (Uncomment if needed)
# data['RestaurantsAttire_none'] = data['RestaurantsAttire_nan'] | False

# # Step 3: Drop the original redundant columns
# # columns_to_drop = [
# #     'RestaurantsAttire_\'casual\'', 'RestaurantsAttire_u\'casual\'',
# #     'RestaurantsAttire_\'dressy\'', 'RestaurantsAttire_u\'dressy\'',
# #     'RestaurantsAttire_\'formal\'', 'RestaurantsAttire_u\'formal\''
# # ]
# # data.drop(columns=columns_to_drop, inplace=True)

In [ ]:
# # Step 1: Create consolidated dummy columns for each alcohol category
# data['Alcohol_full_bar'] = data['Alcohol_\'full_bar\''] | data['Alcohol_u\'full_bar\'']
# data['Alcohol_beer_and_wine'] = data['Alcohol_\'beer_and_wine\''] | data['Alcohol_u\'beer_and_wine\'']
# data['Alcohol_none'] = data['Alcohol_\'none\''] | data['Alcohol_u\'none\''] | data['Alcohol_none']

# # Step 2: Drop the redundant columns
# columns_to_drop = [
#     'Alcohol_\'full_bar\'', 'Alcohol_u\'full_bar\'',
#     'Alcohol_\'beer_and_wine\'', 'Alcohol_u\'beer_and_wine\'',
#     'Alcohol_\'none\'', 'Alcohol_u\'none\''
# ]
# data.drop(columns=columns_to_drop, inplace=True)